* {
    /* border: 1px dashed red !important; */
}

body {
    font-family: 'Courier New', Courier, monospace; 
    background-color: #c5c5c5;
    color: #181818;
}

h1, h2 {
    font-weight: 700;
    text-align: center;
}

a {
    color: #2a168b;
}

a:visited {
    color: #4f168b;
}

.recipes {
    background-color: #d5d5d5;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.recipes img {
    box-sizing: border-box;
    border: 10px solid #c5c5c5;
    padding: 10px;
    width: 300px;
    height: 300px;
    display: block;
}

.recipe-cards {
    background-color: #d5d5d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
