body {
    font-family: 'Courier New', Courier, monospace; 
    background-color: #c5c5c5;
}

h1, h2 {
    font-weight: 700;
}

a {
    color: #2a168b;
}

.recipes {
    margin: 0 auto;
    background-color: #d5d5d5;
}

.recipe-cards {
    /* border: 3px solid red; */

    /* display: inline-block; */

}
