body {
    font-family: 'Courier New', Courier, monospace; 
    background-color: #c5c5c5;
    color: #181818;
}

h1, h2 {
    font-weight: 700;
    text-align: center;
}

a {
    color: #2a168b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #4f168b;
}

.article-images {
    display: block;
    max-width: 750px;
    margin: 0 auto;
}

.recipes-container {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.recipe-cards {
    background-color: #d5d5d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-cards img {
    box-sizing: border-box;
    /* border: 10px solid #c5c5c5; */
    padding: 15px;
    width: 300px;
    height: 300px;
    display: block;
}

.recipe-cards a {
    padding: 15px;
    text-align: center;
}


